<div class="row">
    <div class="col-md-3 m-2">
        <div class="card">
            <div class="card-header">
                <h6>Agregar nueva camara</h6>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <input type="text" name="name" placeholder="Nombre" class="form-control">
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" name="enableSwitch" id="enableSwitch">
                    <label class="custom-control-label" for="enableSwitch">Enable</label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" name="visibleSwitch" id="visibleSwitch">
                    <label class="custom-control-label" for="visibleSwitch">Visible</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col m-2">
        <div class="card">
            <div class="card-header">
                <h6>Datos</h6>
            </div>
            <div class="card-body">
                <h3>form</h3>
            </div>
        </div>
    </div>
</div>